*.pyc
*.so
*.log
*.lock
!Modules/tbus/libtbus/*
.idea
!tools/SDKTool/bin/ActionSampler/vendor
src/ImgProc/Projects/Windows/UIRecognize/output
src/ImgProc/Projects/Windows/UIRecognize/packages
*.opensdf
*.sdf
*.v12.suo
*~
*.swp
*.dylib
*.o
*.pb.cc
*.pb.h
!tools/SDKTool/*
!tools/AIClient/*
!tools/AIClient_ubuntu16/*
