certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.8
imgviz==0.12.1
kiwisolver==1.1.0
labelme==3.16.7
matplotlib==3.0.3
networkx==2.4
numpy==1.14.5
opencv-python==3.4.2.17
Pillow==6.2.2
protobuf==3.7.0
pyparsing==2.4.6
PyQt5==5.12.2
PyQt5-sip==12.7.1
python-dateutil==2.8.1
PyYAML==5.3
pyzmq==18.0.1
QtPy==1.7.1
requests==2.23.0
six==1.14.0
termcolor==1.1.0
tqdm==4.32.1
urllib3==1.24.1
zmq==0.0.0
future==0.18.2
pywinauto==0.6.8
mss==6.0.0
